 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            display: flex;
            height: 100vh;
            align-items: center;
            justify-content: center;
            background-color: rgb(168, 168, 168);
        }

        .box-calc {
            background-color: rgb(223, 221, 221);
            padding: 30px;
            max-width: 400px;
            border-radius: 15px;
            /* box-shadow: 0 4px 16px 0px rgb(133, 132, 132); */
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: relative;
            align-items: center;
            
        }

        .box-calc::after,
        .box-calc::before {
            content: "";
            width: 103%;
            height: 103%;
            background-image: linear-gradient(var(--angulo), #ffff, #555454, #634747);
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            z-index: -1;
            border-radius: 15px;
            animation: manga 3s linear infinite;
        }

        .box-calc::before {
            filter: blur(10px);
            opacity: .5;
        }

        @property --angulo {
            syntax: "<angle>";
            initial-value: 0deg;
            inherits: false;
        }

        @keyframes manga {
            from {
                --angulo: 0deg;
            }

            to {
                --angulo: 360deg;
            }

        }

        h1 {
            text-transform: uppercase;
            color: #555454;
        }

        .box-in {
            display: flex;
            align-items: center;
            width: 100%;

            label {
                font-weight: 600;
                color: #555454;
                padding-left: 5px;
            }

            .numdig {
                width: 100%;
                padding: 10px 8px;
                outline: none;
                border-radius: 15px;
                border: 1px solid #555454;

            }

            p {
                text-align: center;
                margin-top: 20px;
                padding: 0 5px;
            }
        }
            .soma{
                display: inline-block;
                padding: 8px 40px;
                border-radius: 16px;
                outline: none;
                border: none;
                box-shadow: 0 4px 15px 0px rgb(133, 132, 132);
                
            }
            .alert{
                color: red;
            }
            .resultado{
                font-weight: 600;
                background-color: rgb(184, 182, 182);
                padding: 20px;
                min-width: 200px;
                line-height: 1;
                border-radius: 16px;
            }
            @media  screen and (max-width: 400px) {
                body{
                    height: 100%;
                }
                .box-calc{
                margin: 50% 30px 0;
               }
            }